.Contact {
    width: 100vw;
    height: 20vh;
    text-align: center;
    padding: 20px;
}

@media (max-width: 760px) {
    .Contact {
        padding: 20px 40px;
        text-align: justify;
    }
}