.active {
    background-color: rgb(84, 23, 141);
}

.HeaderOne {
    background-color: rgb(42, 9, 73);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.5rem;
    position: sticky;
    top: 0;
}

.HeaderOne .title a {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.HeaderOne ul {
    display: flex;
    list-style: none;
}

.HeaderOne ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.HeaderOne ul li a:not(.active):hover {
    background-color: green;
}

.HeaderOne .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.HeaderOne .menu span {
    background-color: white;
    width: 2.25rem;
    height: 0.4rem;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    .HeaderOne .menu {
        display: flex;
    }

    .HeaderOne {
        flex-direction: column;
        align-items: start;
    }

    .HeaderOne ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .HeaderOne ul.open {
        display: flex;
    }

    .HeaderOne ul li {
        width: 100%;
        text-align: center;
    }

    .HeaderOne ul li a {
        margin: 0.2rem 0.5rem;
    }
}