.HeaderTwo .active {
    border: 1px solid rgb(228, 207, 16);
    background-color: rgb(42, 9, 73);
    font-weight: 800;
}

#light .HeaderTwo .active {
    border: 2px solid rgb(40, 43, 42);
    font-weight: 800;
    background-color: rgb(159, 211, 135);
}

.HeaderTwo {
    background-color: rgb(42, 9, 73);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.5rem;
    position: sticky;
    top: 0;
}

#light .HeaderTwo {
    background-color: rgb(159, 211, 135);
}

.HeaderTwo .title a {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#light .HeaderTwo .title a {
    color: black;
}

.HeaderTwo ul {
    display: flex;
    list-style: none;
}

.HeaderTwo ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#light .HeaderTwo ul li a {
    color: black;
}

.HeaderTwo ul li a:not(.active):hover {
    background-color: green;
}

#light .HeaderTwo ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.HeaderTwo .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.HeaderTwo .menu span {
    background-color: white;
    width: 2.25rem;
    height: 0.4rem;
    border-radius: 0.2rem;
}

#light .HeaderTwo .menu span  {
    background-color: rgb(49, 49, 48);
}

.HeaderTwo .switch {
    display: flex;
    width: 150px;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 760px) {
    .HeaderTwo .menu {
        display: flex;
    }

    .HeaderTwo {
        flex-direction: column;
        gap: 1rem;
    }

    .HeaderTwo ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .HeaderTwo ul.open {
        display: flex;
    }

    .HeaderTwo ul li {
        width: 100%;
        text-align: center;
    }

    .HeaderTwo ul li a {
        margin: 0.2rem 0.5rem;
    }

    .HeaderTwo .switch  label{
        display: none;
    }

    .HeaderTwo .switch {
        justify-content: center;
    }
}