.Services {
    width: 100vw;
    height: 100%;
    text-align: center;
}

.Services h4 {
    margin-bottom: 20px;
}

.Services p {
    width: 70%;
    text-align: justify;
    margin: 0 auto;
}

@media (max-width: 760px) {
    .Services p {
        width: 80%;
    }
}