.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#light {
    background-color: rgb(223, 224, 217);
    color: rgb(36, 35, 35);
}

#dark {
    background-color: rgb(31, 30, 30);
    color: rgb(223, 224, 217);
}